.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    z-index: 1;
    justify-content: center;
    justify-content: space-around;
    display: flex;
    border-radius: 8px;
    background-color: #f8f8f8;
}